<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Professor Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="#">ProfessorPortal</a>
    </div> -->
    <ul class="nav navbar-nav">
      <li class="active"><a href="app-professor-component">Home</a></li>
      <li><a href="app-prof-view-cource-component">View Courses</a></li>
      <li><a href="app-prof-enrolld-students-component">View Enrolled Students</a></li>
      <li><a href="app-prof-add-grade-component">Add Grades</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1 style="text-align: center;">Welcome Professor</h1>
</div>

<!-- </body>
</html> -->
